*{
    padding: 0%;
    margin: 0%;
    background-color: rgb(47, 151, 199);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header nav ul li {
    display: inline;            
    margin: 0 20px;             
    font-size: 18px;            
}
header .search-bar {
    text-align: center;          
    margin-top: 20px;         

header .search-bar input {
    padding: 10px;              
    font-size: 16px;
    max-width: 400px;           
    border: 2px solid white;     
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;              
