* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles for a Smaller Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    color: gray;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 15px;
}